[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = {{ private['git']['name'] }}
	email = {{ private['git']['mail'] }}
[pull]
	rebase = false
